*{
  font-family: "Open Sans", sans-serif;
  /* margin: 0;
  padding: 0; */
}

 .container{
  max-width: 1200px;
  margin: auto;
  background-color: #FFFFFF;
} 
nav{
  background-color: white;
  display: flex;
  justify-content: space-between;

}
nav div img{
  /* width: 50px; */
  height: 50px;
  margin-top: 30px; 
  }

nav div ul li, a{
  list-style: none;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  }
  nav div ul{
    display: flex;
    gap: 10px;
    margin: 20px;
    padding: 20px;
  }
.common-btn{
  background-color: blue;
  border-radius: 10px;
  color: #FFFFFF;
  margin: 30px;
  padding: 10px;
  height: 50px;
  width: 170px;
 border: 5px solid none;
 cursor: pointer;
 font-weight: bold;
}
/* banner section */
.background-img{
  background: linear-gradient(90deg,rgba(0, 0, 0, .55) , rgba(0, 0, 0, .55)), url("../images/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
     height: 100vh;
     text-align: center;
    
     cursor: pointer;
      
}
/* .overlay{ */
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  /*z-index: 2;  Specify a stack order in case you're using a different order for other elements */
  /*: pointer;  Add a pointer on hover */
  
/* } */
 section div h1, p{
  
  padding: 50px;
  
  align-items: center;
 }
   section div h1{
    font-weight: bold;
    margin-top: 30px;
   }
 
/* banner end */

/* meet the speakers */



.meet-the-speakers{
   text-align: center;
  margin: 20px;
  padding: 20px;
 
}
.top-cards{
 display: flex;
justify-content: space-between;

}
.bottom-cards{
 display: flex;
 justify-content: space-between;
 
}

 .card-text,span{
  display: block;
   text-align: left;

  
 }
 .card{
  margin: 20px;
  /* padding: 10px;
   */
  background-color: rgb(244, 242, 236);
  border-radius: 20px ;
 }
 .card img{
  border-radius: 10px 10px 0 0;
 }

 
/* meet the speakers --end */

/* Secure Your Spot */
.meet-container{
max-width: 1200px;
  margin: auto;
  margin-bottom: 5rem;
  margin-top: 5rem;
  gap: 20px;
} 
.meet{
  display: flex;
  justify-content: space-between;
}
.price{
  font-weight: bolder;
}
.card-btn{
   /* height: 50px; */
   width: 270px;
   border-radius: 10px;
   padding: 20px;
   cursor: pointer;
   font-weight: bold;
   padding: 10px;
   margin-top: 20px;
   margin-left: 2rem;
}
 .meet-card{
  display: grid;
  /* grid-template-areas: var(3, 1fr); */
   grid-template-columns: repeat(3,1fr); 
     border-radius: 10px;
  /* margin: 10; */
    /* box-shadow: red; */
  border-color: wheat;
  
  align-items: stretch;  /* Makes all cards equal height*/
    flex: 1;              /* Equal width */
    height: 600px;  /* Same height */
    width: 300px; 
   gap: 10px;
   box-sizing: border-box;
}
hr{
  margin-left: 1.5rem;
  margin-right: 2rem;
  font: 100;
 }

.meet-card-1{
  /* background-color: rgb(244, 235, 217); */
 border-radius: 10px;
  height: 450px;  /* Same height */
    width: 350px;
    border: 2px solid rgb(184, 184, 227);
}
.meet-card-2{
  background-color: rgb(54, 46, 46);
  color: #FFFFFF;
  border-radius: 10px;
   height: 450px;  /* Same height */
    width: 350px;
 
}
.meet-card-3{
  background-color: rgb(222, 226, 228);
  border-radius: 10px;
   height: 450px;  /* Same height */
    width: 350px;
     border: 2px solid rgb(184, 184, 227);
} 
.meet-card ul, li::marker{
color: rgb(106, 106, 231);
}
/*  */
/* something */
 /* FAQ Section */
.faq {
    background:  #f5f7fb;
    padding: 80px 20px;
   
}

.container {
    max-width: 800px;
    /* margin: auto; */
}

.faq h2 {
    text-align: center;
    font-size: 36px;
    color: #222;
    margin-bottom: 10px;
}

.subtitle {
    text-align: center;
    color: #666;
    margin-bottom: 40px;
}

details {
    background: #fff;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 18px 20px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}

summary {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    list-style: none;
    position: relative;
    padding-right: 30px;
}

summary::-webkit-details-marker {
    display: none;
}

summary::after {
    content: "+";
    position: absolute;
    right: 0;
    top: 0;
    font-size: 24px;
    color: #0077ff;
}



details p {
    margin-top: 15px;
    color: #555;
    line-height: 1.7;
}



/* something-end */

/* footer */
footer{
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
 
}
.footer-1{
 margin-top: 80px;
 margin-left:40px;
 padding: 20px;
 }  
.footer-2{ 
 margin-top: 120px;
 margin-bottom: 0%;
 padding: 20px;

}
.footer-3 {
   margin-top: 50px;
 padding: 20px;
 gap: 10px;
 }
 .footer-3 span :hover{
  background-color: rgb(196, 171, 254);
  cursor: pointer;
  font-size: 25px;
   }
 h3{
  margin-right: 60px;
  
 }
 span{
 display: block;
 }

/* footer  */

/* 

  /*
  .what-i-do-card-container{
  display: flex;
  justify-content: space-between;
  /* box-shadow: 2px;
  height: 200px; 
  margin-top:  20px;
  gap: 8px;
  } */
  
  
  
  
  
  /*
  .what-i-do-card-container .what-i-do-card{
    border: 2px solid rgb(173, 173, 243);
    border-radius: 10px;
    padding: 8px;
    text-align: left;
  } 
  .what-i-do-card{
   height: 300px;
    width: 200px;
    gap: 5px;
  }
*/