*{
  font-family: "Open Sans", sans-serif;
  /* margin: 0;
  padding: 0; */
}

 .container{
  max-width: 1200px;
  margin: auto;
  background-color: #FFFFFF;
} 
nav{
  background-color: white;
  display: flex;
  justify-content: space-between;

}
.logo{
  display: flex;
}
nav div img{
  /* width: 50px; */
  height: 50px;
  margin-top: 30px; 
  
}
/* .logo-text{
  display: block;
  gap: 0;
} */
nav div ul li, a{
  list-style: none;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  }
  nav div ul{
    display: flex;
    gap: 10px;
    margin: 20px;
    padding: 20px;
  }
.common-btn{
  background-color: blue;
  border-radius: 10px;
  color: #FFFFFF;
  margin: 30px;
  padding: 10px;
  height: 50px;
  width: 170px;
 border: 5px solid none;
 cursor: pointer;
 font-weight: bold;
}
/* banner section */
.background-img{
  background-image: url(../images/banner.jpg);
   background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
     height: 100vh;
     text-align: center;
     position: relative;
}
.overlay{
  /* position: absolute; */
  /* top: 0;
  left: 0; */
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: black;
}
 section div h1, p{
  
  padding: 50px;
  
  align-items: center;
 }
   section div h1{
    font-weight: bold;
    margin-top: 30px;
   }
 
/* banner end */

/* meet the speakers */

.meet-the-speakers{
  text-align: center;
}
.meet-the-speakers{
  margin: 30px;
  padding: 20px;
}
.top-cards{
 display: flex;
justify-content: space-between;

}
.bottom-cards{
 display: flex;
 justify-content: space-between;
 
}
.card-text{
  /* display: block; */
  
 /* */
 }
 .card-text,span{
  display: block;
   text-align: left;

  
 }
 .card{
  margin: 20px;
  /* padding: 10px;
   */
  background-color: rgb(244, 242, 236);
  border-radius: 20px ;
 }
 span{
  /* color: blue;
  font: 900; */
 }
/* meet the speakers --end */

/* Secure Your Spot */
.meet-container{
max-width: 1200px;
  margin: auto;
  margin-bottom: 2rem;
  gap: 20px;
} 
.meet{
  display: flex;
  justify-content: space-between;
}
.price{
  font-weight: bolder;
}
.card-btn{
   /* height: 50px; */
   width: 250px;
   border-radius: 10px;
   padding: 20px;
   cursor: pointer;
   font-weight: bold;
   padding: 10px;
   align-items: center;
}
.meet-card{
  display: grid;
  /* grid-template-areas: var(3, 1fr); */
   grid-template-columns: repeat(3,1fr); 
     border-radius: 10px;
  /* margin: 10; */
    /* box-shadow: red; */
  border-color: wheat;
  background-color: rgb(116, 198, 198);
  align-items: stretch;  /* Makes all cards equal height*/
    flex: 1;              /* Equal width */
    height: 600px;  /* Same height */
    width: 300px; 
   gap: 10px;
   box-sizing: border-box;
}
hr{
  color: black;
  font: 100;
 }

.meet-card-1{
  background-color: rgb(244, 235, 217);
 border-radius: 10px;
}
.meet-card-2{
  background-color: rgb(54, 46, 46);
  color: #FFFFFF;
  border-radius: 10px;
 
}
.meet-card-3{
  background-color: rgb(184, 242, 242);
  border-radius: 10px;
} 
/*  */
/* something */

/* something-end */

/* footer */
footer{
  display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
 
}
.footer-1{
 margin-top: 80px;
 margin-left:40px;
 padding: 20px;
 }  
.footer-2{ 
 margin-top: 120px;
 margin-bottom: 0%;
 padding: 20px;

}
.footer-3 {
   margin-top: 50px;
 padding: 20px;
 gap: 10px;
 }
 .footer-3 span :hover{
  background-color: rgb(196, 171, 254);
  cursor: pointer;
  font-size: 25px;
   }
 h3{
  margin-right: 60px;
  
 }
 span{
 display: block;
 }

/* footer  */

/* 

  /*
  .what-i-do-card-container{
  display: flex;
  justify-content: space-between;
  /* box-shadow: 2px;
  height: 200px; 
  margin-top:  20px;
  gap: 8px;
  } */
  
  
  
  
  
  /*
  .what-i-do-card-container .what-i-do-card{
    border: 2px solid rgb(173, 173, 243);
    border-radius: 10px;
    padding: 8px;
    text-align: left;
  } 
  .what-i-do-card{
   height: 300px;
    width: 200px;
    gap: 5px;
  }
*/