*{
  font-family: "Open Sans", sans-serif;
  /* margin: 0;
  padding: 0; */
}

 .container{
  max-width: 1200px;
  margin: auto;
  background-color: #FFFFFF;
} 
nav{
  background-color: white;
  display: flex;
  justify-content: space-between;

}
.logo{
  display: flex;
}
nav div img{
  /* width: 50px; */
  height: 50px;
  margin-top: 30px; 
  
}
/* .logo-text{
  display: block;
  gap: 0;
} */
nav div ul li, a{
  list-style: none;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  }
  nav div ul{
    display: flex;
    gap: 10px;
    margin: 20px;
    padding: 20px;
  }
.common-btn{
  background-color: blue;
  border-radius: 10px;
  color: #FFFFFF;
  margin: 30px;
  padding: 10px;
  height: 50px;
  width: 170px;
 border: 5px solid none;
 cursor: pointer;
 font-weight: bold;
}
/* banner section */
.background-img{
  background-image: url(../images/banner.jpg);
   background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
     height: 100vh;
     text-align: center;
     position: relative;
}
 section div h1, p{
  
  padding: 50px;
  
  align-items: center;
 }
   section div h1{
    font-weight: bold;
    margin-top: 30px;
   }
 section div button{
   position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 24px;
   height: 50px;
 }
/* banner end */

/* meet the speakers */

.meet-the-speakers{
  text-align: center;
}
.meet-the-speakers{
  margin: 30px;
  padding: 20px;
}
.top-cards{
 display: flex;
justify-content: space-between;

}
.bottom-cards{
 display: flex;
 justify-content: space-between;
 
}
.card-text{
  /* display: block; */
  
 /* */
 }
 .card-text,span{
  display: block;
   text-align: left;

  
 }
 .card{
  margin: 20px;
  /* padding: 10px;
   */
  background-color: rgb(244, 242, 236);
  border-radius: 20px ;
 }
 span{
  /* color: blue;
  font: 900; */
 }
/* meet the speakers --end */

/* Secure Your Spot */
.meet-container{
max-width: 1000px;
  margin: auto;
} 
.meet{
  display: flex;
}